*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* font-family: monospace; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.applynow2section {
    display: block;
    flex-wrap: wrap;
}
.applynow2cont {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
}
.completesection {
    grid-column: 1 /2;
    padding: 40px;
    background-color: #f8f9fa;
    height: 100vh;
    position: fixed;
}
.applynow2cont .image {
    width: 210px;
    /* background-color: transparent; */
}
 .applynow2cont .image img{
    max-width: 100%;
}
.text {
    padding-top: 55px;
    /* border-bottom: 5px solid grey; */
    /* padding-bottom: 55px; */
}
.text1 p{
    background-color: rgb(244, 254, 252);
    border: 1px solid rgb(148, 220, 40);
    /* padding: 10px 12px; */
    border-radius: 5px;
    padding-right: 23px;
    padding-left: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    /* padding-top: 20px; */
}
.text2 {
    padding-top: 15px;
}
form span{
    color: orangered;
}
.text2 p i{
    color: rgb(213, 209, 209);
    padding-right: 4px;
}
.text2 p{
    font-size: 17px;
    padding: 14px 0px;
    font-weight: 600;
    color: rgb(157, 157, 157);
}
.applynow2cont .text2 .p2{
    color: black;
    font-weight: 500;
    font-size: 16px;
}
.applynow2cont .text2 #greenI{
    color: green;
}
.personal {
    grid-column: 2 / 5;
}
.personal header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
    align-items: center;
    box-shadow: 2px 2px 3px #dde1e7, -2px -2px 3px #dde1e7;
}
.personal .div2, header a{
    text-decoration: none;
    color: black;
}
.personal .div1{
    padding-left: 40px;
}
.applynow2section .tellusaboutyourselfcont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.applynow2section .tellusaboutyourselfwrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
    width: 90%;
}
.applynow2section .tellusaboutyourselfheader{
    /* padding: 16px 0px; */
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
}
.applynow2section .tellusaboutyourselfheader .p1{
    font-weight: 600;
}
.applynow2section .tellusaboutyourselfheader .p4{
    color: rgb(57, 178, 57);
    /* padding-right: 60px; */
}
.applynowsmallCont{
    display: none;
}
.label{
    display: flex;
    padding: 20px 0px;
}
.input{
    margin: 7px 0px;
    border-radius: 6px;
    border: 0.2px solid rgb(185, 184, 184);
    height: 42px;
    padding: 7px;
    width: 350px;
}
textarea{
    margin: 7px 0px;
    padding: 7px;
    font-family: inherit;
    border-radius: 6px;
    border: 0.2px solid rgb(185, 184, 184);
}
::placeholder{
    font-family: inherit;
    font-size: 16px;
}
select {
    /* padding: 200px; */
    line-height: 20px;
    /* background-color: grey; */
    font-size: 16px;
    color: grey;
}
.buttonNext button{
    width: 120px;
    border: none;
    outline: none;
    background: linear-gradient( to left,rgb(57, 178, 57),rgb(175, 191, 33));
    height: 38px;
    border-radius: 4px;
    cursor: pointer;
}
.buttonNext button a{
    font-weight: 600;
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.buttonNext{
    padding-top: 35px;
}
.achievement{
    font-weight: 600;
    padding-bottom: 15px;
}
.label1{
    font-size: 15px;
    width: 50%;
}
.label p{
    font-size: 14px;
}
.label2{
    padding-top: 20px;
}
.ptop{
    font-size: 14px;
}
@media screen and (max-width: 1199px) {
    /* .input{
        width: 100%;
    } */
    .applynow2section{
        display: none;
    }
    .applynowsmallCont{
        display: block;
        /* padding: 20px; */
    }
    .applynowsmallCont header{
        display: flex;
        justify-content: space-between;
        padding: 30px;
        align-items: center;
        background-color: white;
        box-shadow: 2px 2px 3px #dde1e7,  -2px -5px 3px #dde1e7;
    }
    .applynowsmallCont header .logo{
        width: 130px;
    }
    .applynowsmallCont header .navs{
        display: flex;
        
    }
    .applynowsmallCont header .navs p{
        padding-right: 10px;
    }
    .applynowsmallCont header .logo img{
        max-width: 100%;
    }
    
    .applynowsmallCont .textContainer{
        padding: 25px;
    }
    .applynowsmallCont .textContainer .p2{
        padding: 15px 0px;
        font-weight: 600;
        font-size: 16px;
    }
    .applynowsmallCont .textContainer .text1 .p1{
        font-size: 14.7px;
        font-weight: 600;
        color: rgb(171, 171, 171);
    }
    .applynowsmallCont .textContainer .p1 i{
        color: green;
        padding-right: 7px;
    }
    .applynowsmallCont .label{
        flex-wrap: wrap;
        width: 100%;
    }
    .applynowsmallCont textarea{
        width: 100%;
    }
    .applynowsmallCont .input{
        margin: 7px 0px;
        border-radius: 6px;
        border: 0.2px solid rgb(185, 184, 184);
        height: 46px;
        padding: 7px;
        width: 100%;
    }
    .applynowsmallCont .textContainer .p2{
        display: none;
    }
    .applynowsmallCont .textContainer p{
        padding: 10px 0px; 
    }
    .buttonNext button{
        width: 100%;
    }
    .ptops{
        font-size: 14.5px;
        padding-top: 20px;
    }
    .textContainer .text1 p{
        padding: 10px;
    }
    .applynowsmallCont .textContainer .p1{
        /* padding: 20px 0px; */
        padding-top: 20px;
        
        font-weight: 600;
    }
    .applynowsmallCont .p5{
        color: rgb(177, 174, 174);
    }
    .applynowsmallCont .tellusaboutyourselfheader{
        display: flex;
        justify-content: space-between;
        font-size: 14px;
    }
    .applynowsmallCont .tellusaboutyourselfheader .p1{
        font-weight: 600;
        color: black;
    }
    .applynowsmallCont .tellusaboutyourselfheader .p4{
        padding-top: 15px;
        color: rgb(150, 211, 60);
    }
    .ptops{
        color: black;
    }
    .form3 .ptops{
        font-size: 13px;
    }
}